	<footer class="bg-black-2 text-white py-8 lg:pt-[2.63rem] lg:pb-[0.9rem]">
		<div class="container">
			<div class="lg:flex flex-wrap justify-between -m-4">
				<div class="lg:flex flex-wrap justify-between -m-4 p-4 flex-size-4 lg:max-w-[55.7%]">
					<div class="lg:flex-size-1 max-w-[191px] lg:max-w-[35.6%] p-4">
						<a href="#" class="inline-block max-w-[191px] lg:max-w-[200px] lg:ml-[0.3rem]">
							<img src="assets/images/logo-lg.png" alt="">
						</a>		
					</div>
					
					<div class="flex-size-2 lg:max-w-[59.3%] p-4">
						<form action="?" method="post" class="space-y-3.75 pt-[0.7rem]">
							<label for="mail" class="inline-block text-xl leading-md font-semibold">Sign up for more info from ET!</label>
							
							<input type="email" id="mail" name="mail" value="" placeholder="" class="w-full h-[3.44rem] p-2 text-lg text-black-2 bg-white border border-solid border-purple rounded-lg focus:outline-none">
							
							<button type="submit" class="relative inline-block align-middle p-3.75 bg-purple border-solid shadow-xs rounded uppercase font-mono font-medium text-normal text-white tracking-wider overflow-hidden after:absolute after:top-0 after:left-0 after:w-0 after:h-0 after:content-[''] after:rounded-br-[250%] after:bg-blue after:[transition:height_.4s,border-radius_.4s,width_.3s] hover:after:w-full hover:after:h-[347.7%] hover:after:rounded-br-0">
								<span class="relative z-1">Submit</span>
							</button>
						</form>
					</div>
				</div>
				
				<div class="flex flex-wrap justify-between items-end lg:items-start flex-size-3 lg:max-w-[35.33%] -m-4 p-4">
					<div class="p-4">
						<nav class="uppercase font-mono text-normal font-medium tracking-[0.04em] pt-[1.4rem]">
							<ul class="space-y-5.5">
								<li>
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Labs</a>
								</li>
								
								<li>
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Events</a>
								</li>
								
								<li>
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Get involved</a>
								</li>
								
								<li>
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">About us</a>
								</li>
								
								<li>
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Donate</a>
								</li>
								
								<li>
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
					
					<div class="p-4">
						<div class="text-right pt-[1.6rem] pr-[0.9rem]">
							<a href="#" class="relative inline-block align-middle p-3.75 bg-purple border-solid shadow-xs rounded uppercase font-mono font-medium text-normal text-white tracking-wider overflow-hidden after:absolute after:top-0 after:left-0 after:w-0 after:h-0 after:content-[''] after:rounded-br-[250%] after:bg-blue after:[transition:height_.4s,border-radius_.4s,width_.3s] hover:after:w-full hover:after:h-[347.7%] hover:after:rounded-br-0">
								<span class="relative z-1">Schedule a lab</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="mt-[2.2rem] pl-[0.3rem] pr-[0.9rem] tracking-wider">
				<div class="lg:flex flex-wrap -m-4 font-mono font-medium text-md uppercase">
					<div class="p-4 flex-1/2 max-w-1/2">
						<div class="text-blue">
							<ul class="lg:flex flex-wrap lg:-mx-3 lg:-my-1 space-y-[1.56rem] lg:space-y-0">
								<li class="lg:px-3 lg:py-1">
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Privacy Policy</a>
								</li>
								
								<li class="lg:px-3 lg:py-1">
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Terms of use</a>
								</li>
								
								<li class="lg:px-3 lg:py-1">
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">Non-discrimination policy</a>
								</li>
								
								<li class="lg:px-3 lg:py-1">
									<a href="#" class="transition-opacity duration-500 hover:opacity-60">501(c)3</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="p-4 flex-1/2 max-w-1/2">
						<div class="lg:text-right">
							<p>©2023 Engineering Tomorrow</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div> <!-- /.wrapper -->