<div class="relative overflow-hidden min-h-screen lg:pt-16.75">

	<header class="fixed top-2.5 lg:top-[4.2rem] left-0 w-full h-auto lg:-translate-y-1/2 z-20 lg:font-semibold lg:font-medium text-[1.06rem] lg:text-[0.94rem] xl:text-normal transition-all duration-500 group/header [&.is-open]:top-0 lg:[&.is-open]:top-[4.2rem] js-header group/header">
		<div class="container max-w-container-md transition-padding duration-500 px-2 lg:px-[25px] group-[.is-open]/header:px-0 lg:group-[.is-open]/header:px-[25px]">
			<div class="">
				<div class="relative text-black-2 lg:text-white shadow-2xl rounded-sm lg:rounded-lg transform after:absolute after:left-2/4 after:top-2/4 after:h-[100%] after:w-[100%] after:backdrop-filter after:backdrop-blur-sm after:content-[''] after:bg-purple-85 after:transform after:-translate-x-2/4 after:-translate-y-2/4 after:rounded-sm lg:after:rounded-lg after:shadow-2xl after:pointer-events-none after:transition-background after:duration-500 after:-z-1 group-hover/header:after:bg-purple group-[.is-open]/header:after:bg-purple lg:group-[.is-open]/header:after:bg-purple-85 group-[.is-open]/header:after:rounded-none lg:group-[.is-open]/header:after:rounded-lg">
					<div class="p-1.5 lg:pt-[0.85rem] lg:pb-[0.8rem] lg:pr-3.5 lg:pl-7.5">
						<div class="">
							<div class="flex lg:block items-center justify-between">
								<nav class="fixed lg:static left-1/2 lg:left-auto top-full lg:top-auto h-auto w-[100vw] lg:w-auto lg:flex flex-row items-center justify-between text-lg lg:text-[0.94rem] lg:font-mono lg:uppercase tracking-[0.045em] bg-white lg:bg-transparent px-[25px] lg:px-0 py-[29px] lg:py-0 -translate-x-1/2 lg:transform-none -translate-y-full lg:transform-none opacity-0 lg:opacity-100 pointer-events-none lg:pointer-events-auto transition-all duration-500 -z-1 lg:z-auto max-h-[calc(var(--current-dvh,1vh)*100-var(--header-current-height,0px))] lg:max-h-none overflow-x-hidden lg:overflow-visible group-[.is-open]/header:opacity-100 group-[.is-open]/header:pointer-events-auto group-[.is-open]/header:translate-y-0 lg:group-[.is-open]/header:transform-none group-[.submenu-open]/header:overflow-hidden">
									<ul class="lg:flex flex-wrap lg:items-center lg:space-x-7.5 lg:max-w-[calc(50%-89px)]">
										<li class="group/menu">
											<a href="#" class="relative block lg:inline-block py-[0.88rem] lg:py-0 border lg:!border-0 border-0 border-t border-gray-2 transition-opacity duration-500 after:absolute after:top-full after:left-0 after:h-[1.9rem] after:w-[200%] after:content-[''] after:pointer-events-none hover:opacity-60 group-hover/menu:after:pointer-events-auto group-hover/menu:opacity-60">Labs</a>

											<div class="fixed lg:absolute top-0 lg:top-3/4 left-0 w-full lg:max-h-[calc(var(--current-dvh,1vh)*100-var(--header-current-position))] py-[1.81rem] px-[25px] lg:pt-[3.31rem] lg:pb-[2.19rem] lg:px-[1.88rem] bg-white text-black-2 font-sans normal-case text-[1.13rem] tracking-normal lg:rounded-b-lg lg:shadow-2xl overflow-x-hidden lg:overflow-visible lg:overflow-y-auto transition-all lg:transition-submenu !duration-500 opacity-0 -translate-y-full lg:transform-none pointer-events-none z-[2] lg:-z-1 group-[.menu-open]/menu:translate-y-0 group-[.menu-open]/menu:pointer-events-auto group-[.menu-open]/menu:opacity-100 lg:group-[.menu-open]/menu:opacity-0 lg:group-hover/menu:pointer-events-auto lg:group-hover/menu:!opacity-100 lg:group-hover/menu:top-[calc(100%-0.4rem)]">
												<div>
													<h6 class="block lg:hidden mb-[1.19rem] font-semibold text-purple text-xl js-close-menu"><a href="#">Our Labs</a></h6>

													<ul class="block lg:flex lg:-mx-5 text-[0.88rem] md:text-[1.06rem] font-normal columns-2 lg:columns-1">
														<li class="contents lg:block flex-1/3 max-w-1/3 px-5">
															<ul class="contents lg:block lg:space-y-3.5">
																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-19.png" alt="">
																		</span>

																		Air Vehicles / Aerodynamics

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-1.png" alt="">
																		</span>

																		App Development

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-11.png" alt="">
																		</span>

																		Bioinformatics / Genetic Engineering

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-12.png" alt="">
																		</span>

																		Bridges

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-13.png" alt="">
																		</span>

																		Cybersecurity

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-14.png" alt="">
																		</span>

																		Drug Delivery

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-15.png" alt="">
																		</span>

																		Electric Vehicles

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>
															</ul>
														</li>

														<li class="contents lg:block flex-1/3 max-w-1/3 px-5">
															<ul class="contents lg:block lg:space-y-3.5">
																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-16.png" alt="">
																		</span>

																		Embedded Systems / Circuit Design

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-17.png" alt="">
																		</span>

																		Machine Learning

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-18.png" alt="">
																		</span>

																		Networks

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-2.png" alt="">
																		</span>

																		Renewable Energy

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-3.png" alt="">
																		</span>

																		Robotics / Intro to Coding

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-4.png" alt="">
																		</span>

																		Sound & Noise Pollution

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>
															</ul>
														</li>

														<li class="contents lg:block flex-1/3 max-w-1/3 px-5">
															<ul class="contents lg:block lg:space-y-3.5">
																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-5.png" alt="">
																		</span>

																		Space Vehicles / Astrodynamics

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-6.png" alt="">
																		</span>

																		Supply Chain

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-7.png" alt="">
																		</span>

																		Water Treatment

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-8.png" alt="">
																		</span>

																		Phototherapy / Biomedical Engineering

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-9.png" alt="">
																		</span>

																		3D Printing: Medical Applications

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>

																<li>
																	<a href="#" class="flex lg:inline-flex items-center underline-offset-2 border-t border-solid border-black-2 lg:border-0 py-2 lg:p-0 lg:hover:underline group/link">
																		<span class="hidden lg:inline-block w-[2.52rem] h-[2.52rem] mr-[5px]">
																			<img src="assets/images/temp/ico-nav-9.png" alt="">
																		</span>

																		3D Printing: Product Development

																		<svg class="relative basis-[10px] min-w-[10px] hidden lg:block top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																		</svg>
																	</a>
																</li>
															</ul>
														</li>
													</ul>
												</div>

												<div class="mt-[0.6rem] lg:mt-6 lg:mt-8 pt-[1.35rem] lg:pt-[1.56rem] border border-0 border-t border-solid border-gray-2">
													<ul class="flex flex-wrap items-center lg:justify-end -m-2 lg:-m-3.75 font-semibold text-md lg:text-[1.06rem] leading-md">
														<li class="p-2 lg:p-3.75">
															<a href="#" class="inline-flex items-center transition-color duration-500 hover:text-purple group/link">
																Browse all labs

																<svg class="relative transition-link-arrow duration-300 ml-[5px] right-[2px] group-hover/link:right-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																</svg>
															</a>
														</li>

														<li class="p-2 lg:p-3.75">
															<a href="#" class="inline-flex items-center transition-color duration-500 hover:text-purple group/link">
																Access all lab resources 

																<svg class="relative transition-link-arrow duration-300 ml-[5px] right-[2px] group-hover/link:right-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																</svg>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>

										<li>
											<a href="#" class="block lg:inline-block py-[0.88rem] lg:py-0 border lg:!border-0 border-0 border-t border-gray-2 transition-opacity duration-500 hover:opacity-60">Events</a>
										</li>

										<li class="group/menu">
											<a href="#" class="relative block lg:inline-block py-[0.88rem] lg:py-0 border lg:!border-0 border-0 border-t border-gray-2 transition-opacity duration-500 after:absolute after:top-full after:left-0 after:h-[1.9rem] after:w-[200%] after:content-[''] after:pointer-events-none hover:opacity-60 group-hover/menu:after:pointer-events-auto group-hover/menu:opacity-60">Get Involved</a>

											<div class="fixed lg:absolute top-0 lg:top-3/4 left-0 w-full lg:max-h-[calc(var(--current-dvh,1vh)*100-var(--header-current-position))] py-[1.81rem] px-[25px] lg:p-0 bg-white text-black-2 font-sans normal-case text-[1.13rem] tracking-normal lg:rounded-b-lg lg:shadow-2xl overflow-x-hidden lg:overflow-visible lg:overflow-y-auto transition-all lg:transition-submenu !duration-500 opacity-0 -translate-y-full lg:transform-none pointer-events-none z-[2] lg:-z-1 group-[.menu-open]/menu:translate-y-0 group-[.menu-open]/menu:pointer-events-auto group-[.menu-open]/menu:opacity-100 lg:group-[.menu-open]/menu:opacity-0 lg:group-hover/menu:pointer-events-auto lg:group-hover/menu:!opacity-100 lg:group-hover/menu:top-[calc(100%-0.4rem)]">
												<h6 class="block lg:hidden mb-[1.19rem] font-semibold text-purple text-xl js-close-menu"><a href="#">Get Involved</a></h6>

												<div class="block lg:flex">
													<div class="hidden lg:block relative flex-2/3 max-w-2/3 flex flex-col justify-center text-white px-[3.25rem] py-[3.31rem] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:content-[''] after:bg-submenu-gradient">
														<picture class="absolute top-0 left-0 w-full h-full -z-1">
															<img class="w-full h-full object-cover" src="assets/images/temp/submenu-1.jpg" alt="">
														</picture>

														<div class="relative z-[1] space-y-5.5 max-w-[28.56rem]">
															<h3 class="font-light leading-md pr-8">Inspire the next generation of engineers.</h3>

															<p>We want to build a stronger, more innovative world—one that fosters diverse perspectives for the greater good of humankind. We need your support.</p>

															<a href="#" class="inline-flex items-center text-xl font-semibold leading-lg underline-offset-2 hover:underline group/link">
																Get involved with ET

																<svg class="relative transition-link-arrow duration-500 ml-[5px] top-[.2rem] right-[3px] group-hover/link:right-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																</svg>
															</a>
														</div>
													</div>

													<div class="relative lg:flex-1/3 lg:max-w-1/3 lg:flex flex-col justify-center lg:px-[3.56rem] lg:py-[3.31rem]">
														<ul class="text-[1.06rem] font-normal leading-md">
															<li class="lg:hidden">
																<a href="#" class="flex items-center py-[0.88rem] font-semibold leading-lg underline-offset-2 border border-0 border-t border-gray-2">
																	Get involved with ET

																	<svg class="relative transition-link-arrow duration-500 ml-[3px] basis-[10px] min-w-[10px]" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	High School Educators

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	College Students

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	Professional Engineering

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	Partner Organizations

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	High School Students

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>

										<li class="group/menu">
											<a href="#" class="relative block lg:inline-block py-[0.88rem] lg:py-0 border lg:!border-0 border-0 border-t border-gray-2 transition-opacity duration-500 after:absolute after:top-full after:left-0 after:h-[1.9rem] after:w-[200%] after:content-[''] after:pointer-events-none hover:opacity-60 group-hover/menu:after:pointer-events-auto group-hover/menu:opacity-60">About Us</a>

											<div class="fixed lg:absolute top-0 lg:top-3/4 left-0 w-full lg:max-h-[calc(var(--current-dvh,1vh)*100-var(--header-current-position))] py-[1.81rem] px-[25px] lg:p-0 bg-white text-black-2 font-sans normal-case text-[1.13rem] tracking-normal lg:rounded-b-lg lg:shadow-2xl overflow-x-hidden lg:overflow-visible lg:overflow-y-auto transition-all lg:transition-submenu !duration-500 opacity-0 -translate-y-full lg:transform-none pointer-events-none z-[2] lg:-z-1 group-[.menu-open]/menu:translate-y-0 group-[.menu-open]/menu:pointer-events-auto group-[.menu-open]/menu:opacity-100 lg:group-[.menu-open]/menu:opacity-0 lg:group-hover/menu:pointer-events-auto lg:group-hover/menu:!opacity-100 lg:group-hover/menu:top-[calc(100%-0.4rem)]">
												<h6 class="block lg:hidden mb-[1.19rem] font-semibold text-purple text-xl js-close-menu"><a href="#">About Us</a></h6>

												<div class="block lg:flex">
													<div class="hidden lg:block relative flex-2/3 max-w-2/3 flex flex-col justify-center text-white px-[3.25rem] py-[3.31rem] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:content-[''] after:bg-submenu-gradient">
														<picture class="absolute top-0 left-0 w-full h-full -z-1">
															<img class="w-full h-full object-cover" src="assets/images/temp/submenu-2.jpg" alt="">
														</picture>

														<div class="relative z-[1] space-y-5.5 max-w-[28.56rem]">
															<h3 class="font-light leading-md pr-8">Explore.<br>Inspire. Achieve.</h3>

															<p>Engineering Tomorrow opens the door to the world of engineering for a diverse array of high school students who otherwise wouldn’t have the opportunity to explore it.</p>

															<a href="#" class="inline-flex items-center text-xl font-semibold leading-lg underline-offset-2 hover:underline group/link">
																Learn more about us

																<svg class="relative transition-link-arrow duration-500 ml-[5px] top-[.2rem] right-[3px] group-hover/link:right-0" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																</svg>
															</a>
														</div>
													</div>

													<div class="relative lg:flex-1/3 lg:max-w-1/3 lg:flex flex-col justify-center lg:px-[3.56rem] lg:py-[3.31rem]">
														<ul class="text-[1.06rem] md:text-[1.06rem] font-normal leading-md">
															<li class="lg:hidden">
																<a href="#" class="flex items-center py-[0.88rem] font-semibold leading-lg underline-offset-2 border border-0 border-t border-gray-2">
																	Learn more about us

																	<svg class="relative transition-link-arrow duration-500 ml-[3px] basis-[10px] min-w-[10px]" width="10" height="12" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	Why Engineering Tomorrow

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	Our Story

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	Our Impact

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	Our Team

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>

															<li>
																<a href="#" class="flex items-center py-[0.88rem] border border-0 border-t border-gray-2 lg:hover:underline underline-offset-2 group/link">
																	News

																	<svg class="hidden lg:block relative top-2 opacity-0 transition-link-arrow duration-500 ml-[5px] group-hover/link:opacity-100 group-hover/link:top-0" width="10" height="10" viewBox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		<path d="M3.728 9.94L6.32 6.66C6.42667 6.52133 6.54933 6.388 6.688 6.26C6.82667 6.12133 6.944 6.01467 7.04 5.94V5.796C6.90133 5.80667 6.72533 5.82267 6.512 5.844C6.29867 5.85467 6.10133 5.86 5.92 5.86H0.64V4.58H5.92C6.10133 4.58 6.29867 4.59067 6.512 4.612C6.72533 4.62267 6.90133 4.63867 7.04 4.66V4.516C6.96533 4.452 6.85867 4.35067 6.72 4.212C6.592 4.07333 6.45867 3.924 6.32 3.764L3.728 0.5H5.408L9.12 5.22L5.424 9.94H3.728Z" fill="currentColor"/>
																	</svg>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
									</ul>

									<ul class="lg:flex flex-wrap justify-end items-center lg:space-x-7.5 lg:max-w-[calc(50%-89px)]">
										<li>
											<a href="#" class="block lg:inline-block py-[0.88rem] lg:py-0 border lg:!border-0 border-0 border-t border-gray-2 transition-opacity duration-500 hover:opacity-60">Donate</a>
										</li>

										<li>
											<a href="#" class="block lg:inline-block py-[0.88rem] lg:py-0 border lg:!border-0 border-0 border-t border-gray-2 transition-opacity duration-500 hover:opacity-60">Contact</a>
										</li>

										<li>
											<a href="#" class="relative inline-block mt-[14px] lg:mt-0 align-middle font-medium p-[0.8375rem] md:p-3.75 bg-purple shadow-xs text-md lg:text-lg text-white rounded tracking-wide overflow-hidden after:absolute after:top-0 after:left-0 after:w-0 after:h-0 after:content-[''] after:rounded-br-[250%] after:bg-black-2 after:[transition:height_.4s,border-radius_.4s,width_.3s] hover:after:w-full hover:after:h-[347.7%] hover:after:rounded-br-0">
												<span class="relative z-1">Schedule a Lab</span>
											</a>
										</li>
									</ul>
								</nav>

								<a href="#" class="relative lg:absolute lg:top-2/4 lg:left-2/4 w-[7.5rem] lg:w-[11.13rem] ml-2.5 lg:ml-0 lg:transform lg:-translate-x-1/2 lg:-translate-y-1/2">
									<img src="assets/images/logo.png" alt="">
								</a>

								<ul class="flex lg:hidden items-center -m-1.5">
									<li class="p-1.5">
										<a href="#" class="relative inline-block align-middle text-white font-mono font-medium text-[0.88rem] font-medium tracking-wide uppercase">
											<span>Schedule</span>
										</a>
									</li>

									<li class="p-1.5">
										<a href="#" class="
										relative inline-flex flex-col align-middle font-medium w-[2.81rem] py-[0.88rem] px-2.5 bg-purple shadow-xs rounded-sm space-y-1.5 overflow-hidden after:absolute after:top-0 after:left-0 after:w-0 after:h-0 after:content-[''] after:rounded-br-[250%] after:bg-black-2 after:[transition:height_.4s,border-radius_.4s,width_.3s] 
										group-[.is-open]/header:after:h-[347.7%] 
										group-[.is-open]/header:after:rounded-0 
										group-[.is-open]/header:after:w-full js-nav-btn">
											<span class="block h-[2px] w-full bg-white z-1 transition-transform duration-500 group-[.is-open]/header:rotate-45 group-[.is-open]/header:translate-y-[0.5rem]"></span>

											<span class="block h-[2px] w-full bg-white z-1 transition-opacity duration-500 group-[.is-open]/header:opacity-0"></span>

											<span class="block h-[2px] w-full bg-white z-1 transition-transform duration-500 group-[.is-open]/header:-rotate-45 group-[.is-open]/header:-translate-y-[0.5rem]"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
