/* ------------------------------------------------------------ *\
	.isotope
\* ------------------------------------------------------------ */

.js-isotope-btn.is-checked {
	border-color: #090D59;
	color: #fff;

	&:after {
		width: 100%;
		height: 347.7%;
		border-radius: 0;
	}
}